<launch>
  <include file="$(find panda_moveit_config)/launch/demo.launch" />

  <node name="fsm" pkg="robot_pkg" type="fsm.py" output="screen"/>  
  <node name="move_robot" pkg="robot_pkg" type="move_robot.py" output="screen"/>
  <node name="control_robot" pkg="robot_pkg" type="control_robot.py" output="screen"/>


  <node name="smach_view" pkg="smach_viewer" type="smach_viewer.py" output="screen"/>
</launch>
